/*  ESTRUTURA DO SITE (header, footer, grids, containers) */

/*  header, footer {
  width: 100%;
  padding: 20px;
  background-color: var(--verde-oliva);
  color: var(--branco-quente);
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section {
  padding: 60px 0;
} */